<div class="row mt-4" *ngIf="event">
    <div class="col-lg-8 col-md-7 col-12">
        <div class="row">
            <div class="col">
                <app-timetable-dashboard-overview-actions [event]="event"></app-timetable-dashboard-overview-actions>
                <app-timetable-dashboard-overview-general [event]="event">
                </app-timetable-dashboard-overview-general>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
        <app-timetable-dashboard-overview-stats [event]="event"></app-timetable-dashboard-overview-stats>
        <universis-upcoming-events [model]="'TeachingEvents'" [timetable]="event.id"></universis-upcoming-events>
    </div>
    <router-modal></router-modal>
    <router-outlet></router-outlet>
</div>