<div class="card" *ngIf="eventSummary">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Statistics'"></span></h5>
    <a [routerLink]="['../', 'events', 'list']" class="text-primary ml-auto my-auto"><span [translate]="'More'"></span></a>
  </div>

  <div class="card-footer border-top py-4">
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span [translate]="'Status'"></span></div>
      <div class="col-4 text-dark">
        <span [ngClass]="event?.eventStatus?.alternateName === 'EventCompleted' ?'text-danger': event?.eventStatus?.alternateName === 'EventOpened' ?'text-info': 'text-indigo'">
          {{'Events.Statuses.' + event?.eventStatus?.alternateName | translate }}
        </span>
      </div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span [translate]="'Title'"></span></div>
      <div class="col-4 text-dark"><span>{{event?.name}}</span></div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span [translate]="'Performers'"></span></div>
      <div class="col-4 text-dark"><span>{{eventSummary?.performers}}</span></div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span [translate]="'Events.IndividualEvents'"></span></div>
      <div class="col-4 text-dark"><span>{{eventSummary?.nonRecursive}}</span></div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span>{{'Events.RecursiveEvents' | translate}} / {{'Events.RecursiveChildren' | translate}}</span></div>
      <div class="col-4 text-dark"><span>{{eventSummary?.recursive}} / {{eventSummary?.children}}</span></div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8"><span [translate]="'Total'"></span></div>
      <div class="col-4 text-dark"><span>{{eventSummary?.children + eventSummary?.nonRecursive}}</span></div>
    </div>
  </div>
</div>

