
<ng-container *ngIf="!isLoading">

      <!-- start: normal view -->
      <div class="col-12 justify-content-between align-items-baseline d-none d-md-flex">
        <h5>
          <span class="formatted-dot" [ngStyle]="{'background-color':formattedDate.dot}"></span>
          {{event.name}} -
          <span class="formatted-date-container">
            <span>{{formattedDate.date}}</span>
            <span>{{formattedDate.time}}</span>
          </span>
        </h5>
        <a *ngIf="back" class="text-secondary btn btn-lg btn-default text-decoration-none d-none d-lg-block pr-0" [routerLink]="['../../']">
          <i class="fa fa-chevron-left pr-1"></i>
          <span>{{'Events.Back' | translate}}</span>
        </a>
      </div>
      <!-- end: normal view -->

      <!-- start: mobile view -->
      <div class="col-12 d-block d-md-none">
        <h5>
          <span class="formatted-dot" [ngStyle]="{'background-color':formattedDate.dot}"></span>
          {{event.name}}
        </h5>
        <h6>
          <span class="formatted-date-container">
            <span>{{formattedDate.date}}</span>
            <span>{{formattedDate.time}}</span>
          </span>
        </h6>
      </div>
      <!-- end: mobile view -->

  <div class="col-12 my-2">
    <div class="row">
      <div class="col-12" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
              [(filter)]="filter.value" [form]="searchConfiguration"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
  </div>

  <div *ngIf="recordsTotal" class="alert shadow fade show alert-info mt-4">
    <div *ngIf="!showButtons" [translate]="'Events.AbsencesMessages.ViewMode'"></div>
    <div *ngIf="showButtons &&  !studentsModified" [translate]="'Events.AbsencesMessages.General'"></div>
    <div *ngIf="studentsModified" [translate]="'Events.AbsencesMessages.ShouldSave'"
      [translateParams]="{numOfStudents: studentsModified}"></div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-auto mt-4">
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 0">
          <span>&nbsp;</span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Students'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Student'"></span>
        </div>
      </div>
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="font-lg btn-toolbar mt-2">
          <!-- show buttons only if the courseClass is this year's and this period's -->
          <ng-container *ngIf="showButtons && recordsTotal">
            <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2"
              placement="bottom" (click)="allPresent()">
              <span>{{'Events.DeleteAbsences' | translate}}</span>
            </button>
            <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2 border-0 bg-transparent"
              placement="bottom" (click)="save()">
              <span>{{'Events.Save' |translate}}</span>
            </button>
            <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2 border-0 bg-transparent"
              placement="left" (click)="commit()"
              [disabled]="studentsModified">
              <span>{{'Events.Commit' | translate}}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <app-advanced-table #table [config]="tableConfiguration" [paging]="true" (page)="onTablePageChange()"
      (load)="onTableDataLoad($event)" (init)="onTableInit()" [serverSide]="true"></app-advanced-table>
  </div>
</ng-container>
