.formatted-date-container {
    display: inline-flex;
    align-items: baseline;
    column-gap: 8px;    
}

.formatted-dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.btn.btn-lg.btn-default[disabled] {
    background-color: transparent !important;
}
