<div *ngIf="event">
  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'TimetableEvents.TimeFrame'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="row">
        <div class="col d-flex">
          <span>{{ 'From' | translate }} {{ (event?.startDate | date:'shortDate') || '-' }}</span>
          <span class="ml-5">{{ 'To' | translate }} {{ (event?.endDate | date:'shortDate') || '-' }}</span>
        </div>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'TimetableEvents.EventTypes'"></h5>
    </div>
    <div *ngIf="event.availableEventTypes && event.availableEventTypes.length>0" class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="event?.availableEventTypes?.length > 0" id="group-list" class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let eventType of event?.availableEventTypes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{
                    eventType?.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body pt-0 pb-3" *ngIf="!event.availableEventTypes || event.availableEventTypes.length===0">
      <div class="text-secondary" [translate]="'TimetableEvents.NoEventTypes'"></div>
    </div>
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Places.AvailablePlaces'"></h5>
    </div>
    <div class="card-body pt-0 pb-3" *ngIf="event.availablePlaces && event.availablePlaces.length>0">
      <div id="group-list" class="flex-column">
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
          <li class="sis&#45;&#45;list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis&#45;&#45;list-group-item_lg_column d-block text-left"
                [translate]="'Places.Title'"></div>
              <div class="sis&#45;&#45;list-group-item_sm_column d-block text-left"
                [translate]="'Places.Capacity'"></div>
              <div class="sis&#45;&#45;list-group-item_lg_column d-block text-left"
                [translate]="'Places.ParentPlace'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body" *ngIf="event?.availablePlaces?.length > 0">
          <li class="sis&#45;&#45;list-group-item" *ngFor="let place of event?.availablePlaces">
            <div class="d-flex justify-content-center align-items-center list-color ">
              <div class="sis--list-group-item_lg_column d-block text-lg-left"><span class="text-secondary">{{
                  place.name }}</span></div>
              <div class="sis--list-group-item_sm_column d-block text-lg-left"><span class="text-dark">
                {{place.capacity}}</span></div>
              <div class="sis--list-group-item_lg_column d-block text-truncate text-lg-left">
                <span class="text-secondary">
                  {{place.containedInPlace}}</span>
              </div>

            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="card-body pt-0 pb-3" *ngIf="!event.availablePlaces || event.availablePlaces.length===0">
      <div class="text-secondary" [translate]="'Places.NoPlaces'"></div>
    </div>
  </div>
