<div *ngIf="actions && actions.length">
  <div class="card">
    <div class="card-body ">

      <div class="row ml-auto my-auto">
        <h5 [translate]="'TimetableCopyAction.Title'" class="mr-3 my-auto"></h5>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'CopyAction'">
              </div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <div *ngFor="let action of actions">
            <div>
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class="sis--list-group-item_lg_column d-none d-sm-block "><span
                      class="text-secondary">{{action.startTime | localizedDate: 'short'}}</span></div>
                  <div class="sis--list-group-item_lg_column"><span
                      class="text-secondary">{{action.createdBy.alternateName}}</span></div>
                  <div class="sis--list-group-item_lg_column"><span>
                      <span
                        [ngClass]="{'text-purple': action.actionStatus.alternateName ==='ActiveActionStatus',
                                  'text-danger': action.actionStatus.alternateName === 'CancelledActionStatus',
                                  'text-decoration-none': action.actionStatus.alternateName ==='CompletedActionStatus'}">
                        {{'Events.ActionTypes.' + action.actionStatus.alternateName | translate}}
                      </span>
                    </span></div>
                  <div class="sis--list-group-item_lg_column d-none d-sm-block "><span
                      class="text-secondary">{{action.endTime | localizedDate: 'short'}}</span></div>
                  <div class="sis--list-group-item_lg_column text-truncate">
                    <span class="text-secondary" *ngIf="action.result">
                      <a [routerLink]="['../../../', action.result?.id, 'dashboard', 'overview']">
                        {{action.result.name}}
                      </a>
                    </span>
                  </div>
                  <div class="sis--list-group-item_lg_column">
                    <button *ngIf="action.failures" type="button" class="btn btn-link" [translate]="'TimetableCopyAction.Failures'" (click)="showFailures(failures_modal, action)"></button>
                    <span  *ngIf="!action.failures" class="text-secondary">-</span>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>
</div>

<ng-template #failures_modal>
  <div class="modal-header">
    <h3 class="modal-title" [translate]="'TimetableCopyAction.Failures'"></h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideFailures()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="errorMessage" style="overflow-y: auto;max-height: 50vh"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-indigo" (click)="hideFailures()" [translate]="'OK'"> </button>
  </div>
</ng-template>