<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/events/list/open']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'TimetableEvents.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2">
        {{model.name}} <span *ngIf="model.startDate && model.endDate" class="font-xl">{{model?.startDate | date:'shortDate'}} -
          {{model?.endDate | date:'shortDate'}}</span>
        <span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto">
      <a *ngIf="model && model.id" class="btn btn-indigo" href="#{{editUrl}}" [translate]="'TimetableEvents.Edit'">Edit Timetable Event</a>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!model">
    <div class="col-auto">
      <h1 class="text-dark">
        <span [translate]="'TimetableEvents.New'"></span>
      </h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Status'"></span>
      </div>
      <div *ngIf="model.eventStatus && model.eventStatus.name" class="col-md-6 text-left">
        <span>{{('Events.Statuses.' + model.eventStatus?.name) | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'From'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model?.startDate | date:'shortDate'}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'To'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model?.endDate | date:'shortDate'}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Department'"></span>
      </div>
      <div *ngIf="model && model.department" class="col-md-6 text-left">
        <span>{{model.department}} </span>
      </div>
    </div>
  </div>
</ng-template>